<div class="container">
  <div class="row mx-5">
    <div class="col">
      <div class="row py-3">
        <div class="col">
          <img src="assets/logo.png" alt="My Image" class="logo">
        </div>
      </div>
      <div class="row bg-light rounded">
        <div class="col">
          <div class="row my-3">
            <div class="col">
              <div class="row m-3">
                <div class="col">
                  <h4>Angular - CRUD Operation</h4>
                </div>
              </div>
              <div class="row px-4">
                <div class="col">
                  <app-employee-form></app-employee-form>
                </div>
                <div class="col">
                  <router-outlet></router-outlet>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


